<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
</head>
<body>
<h1>欢迎进入主页</h1>
获取身份信息<br>
<span shiro:principal=""></span>

<!--认证处理-->
<span shiro:authenticated="">
    认证通过显示
</span>
<span shiro:notAuthenticated="">
    认证不通过显示
</span>

<!--授权角色-->
<span shiro:hasRoles="admin">
    <br>this is admin
</span>
<!--资源授权-->
<span shiro:hasPermission="user:*:*">
    具有用户模块权限
</span>
</body>
</html>